div.listview {
	margin: auto;
	width: 40%;
}

div.buttons {
	margin: auto;
	width: 20%;
}

div.dialog {
	margin: auto;
	width: 15%;
}

table {
	width: 100%;
}

ul {
	list-style-type: none;
}

ul.listActions {
	float: right;
}

footer {
	margin: auto;
	width: 20%;
}

form.search {
	float: left;
}

#leftbutton {
	float: left;
}

#rightbutton {
	float: right;
	margin-left: 20px;
}